---
    import { getEntryBySlug } from "astro:content";
    import { Image } from 'astro:assets';

    const aboutContent = await getEntryBySlug("home", "about");
    
---

<div class="h-screen w-full flex items-center justify-between gap-x-20 max-lg:h-auto max-lg:py-12 max-lg:gap-x-12 
max-md:gap-x-8 max-sm:flex-col max-sm:gap-y-3 max-xl:py-8">
    <div class="flex flex-col items-center justify-center gap-y-4 w-1/2 h-96 max-sm:w-5/6 ">
        {aboutContent.data.bannerImage ? <Image src={aboutContent.data.bannerImage} alt="about banner image" class="w-full max-sm:rounded-2xl "/> : null}
    </div>
    <div class=" w-1/2 h-auto  flex flex-col gap-y-8 justify-center max-lg:gap-y-4  max-sm:items-center max-md:w-full ">
        <div class='text-3xl font-semibold tracking-wide leading-[1.25] max-sm:text-2x'>{aboutContent.data.title}</div>
        <div class='text-lg tracking-wide text-justify max-lg:text-base '>{aboutContent.data.content}</div>
        <a href={aboutContent.data.button?.link}class='w-44 h-12 bg-[#FAE86E] flex justify-center items-center rounded-full'>{aboutContent.data.button?.label} &nbsp; &#x2197;</a>
    </div>
</div>