---
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
const letsMakeHappenContent = await getEntryBySlug("home", "letsmakehappen");
---

<div class="w-full bg-[#FAE86E] h-[22rem] flex items-center justify-evenly max-md:flex-col max-md:h-auto max-md:py-12 max-md:gap-y-12">
  <div class="flex flex-col items-start justify-between h-[16rem] w-[60%] max-lg:h-4/5
  max-md:w-full max-md:h-full max-md:gap-y-8 max-md:items-center">
    <div class="text-5xl tracking-wide max-lg:text-4xl max-sm:text-3xl max-sm:text-center">{letsMakeHappenContent.data.title}</div>
    <div class="tracking-wide text-lg text-justify max-lg:text-base max-md:text-center">
      {letsMakeHappenContent.data.content}
    </div>
    <a
      href={letsMakeHappenContent.data.button?.link}
      class="w-44 h-12 border border-black flex justify-center items-center rounded-full"
      >{letsMakeHappenContent.data.button?.label} &nbsp; &#x2197;</a
    >
  </div>
  {
    letsMakeHappenContent.data.bannerImage ? (
      <Image src={letsMakeHappenContent.data.bannerImage} alt="bacground svg" />
    ) : null
  }
</div>
