---
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
const blogContent = await getEntryBySlug("blogs", "post1");
---

<div class="w-full flex flex-col gap-y-10">
    <Image src={blogContent.data.bannerImage} alt="banner Image" class="w-full h-[24rem] rounded-2xl"/>
    <div class="flex justify-between items-center">
        <div class="text-xl font-medium">{blogContent.data.tag}</div>
        <div class="text-lg font-light">{blogContent.data.date}</div>
    </div>
    <div class="text-5xl font-medium">{blogContent.data.title}</div>
    <div class="tracking-wide leading-[1.7rem] text-justify">{blogContent.body}</div>
</div>